@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, select {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "微软雅黑";
}

ul, ol, li {
  list-style: none;
}

a, u {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100;
}

b, strong {
  font-weight: 100;
}

em, i {
  font-style: normal;
}

img {
  border: 0;
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/*公共的宽*/
.top_2_con, .logo_con, .nav_con, .new_con, .header_con {
  width: 1245px;
  margin: 0 auto;
}

/*import_con_top_oul*/
.import_con_top_oul_active {
  border-bottom: 2px solid #a1c0f6;
}

/*warp*/
#warp {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  opacity: 0.5;
  z-index: 100;
}

/*dingbu_1*/
#top_1 .top_1_con {
  margin: 0 auto;
}

#top_1 .top_1_con img {
  width: 100%;
  height: 100px;
}

/*dingbu_2*/
#top_2 {
  background: #f5f5f5;
  height: 32px;
}

#top_2 .top_2_con {
  height: 32px;
}

#top_2 .top_2_con .top_2_left {
  width: 350px;
  height: 32px;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi {
  width: 140px;
  height: 32px;
  padding-left: 15px;
  background: url("../images/index.png") no-repeat -101px 0;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a {
  border: 1px solid #3ea600;
  width: 290px;
  display: none;
  z-index: 100;
  position: absolute;
  left: 141px;
  top: 132px;
  background: #fff;
  padding: 6px 12px 6px 15px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_anniu {
  width: 11px;
  height: 11px;
  background: url("../images/base.png") no-repeat -98px 0;
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  color: #ccc;
  right: 5px;
  top: 5px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a p {
  height: 34px;
  line-height: 34px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a p span {
  font-weight: 900;
  color: #000;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_b {
  width: 282px;
  height: 60px;
  margin-bottom: 6px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_b h6 {
  font-size: 12px;
  color: #606060;
  float: left;
  margin-top: 4px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_b .top_2_xiala_b_a {
  width: 220px;
  height: 60px;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_b .top_2_xiala_b_a span {
  display: block;
  width: 44px;
  height: 18px;
  float: left;
  text-align: center;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_b .top_2_xiala_b_a span a {
  display: block;
  font-size: 12px;
  color: #606060;
  line-height: 18px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_b .top_2_xiala_b_a span:hover {
  background: #2d8900;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_b .top_2_xiala_b_a span:hover a {
  color: #fff;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_c {
  width: 282px;
  height: 27px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_c .top_2_xiala_c_a {
  position: relative;
  width: 82px;
  height: 27px;
  border: 1px solid #3a9900;
  padding: 0 10px;
  margin-right: 8px;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_c .top_2_xiala_c_a i {
  display: block;
  width: 23px;
  height: 8px;
  background: url("../images/index.png") no-repeat 13px -40px;
  position: absolute;
  top: 11px;
  left: 50px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_c .top_2_xiala_c_a span {
  font-size: 12px;
  color: #606060;
  line-height: 27px;
  cursor: pointer;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_c .top_2_xiala_c_b {
  display: none;
  position: relative;
  width: 82px;
  height: 27px;
  padding: 0 10px;
  border: 1px solid #3a9900;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_c .top_2_xiala_c_b i {
  display: block;
  width: 23px;
  height: 8px;
  background: url("../images/index.png") no-repeat 13px -40px;
  position: absolute;
  top: 11px;
  left: 50px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_c .top_2_xiala_c_b span {
  font-size: 12px;
  color: #606060;
  line-height: 27px;
  cursor: pointer;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_d {
  width: 282px;
  background: #F5F5F5;
  margin-top: 16px;
  padding: 10px 0;
  margin-bottom: 5px;
  overflow: hidden;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_d .top_2_xiala_d_a {
  width: 29px;
  text-align: right;
  float: left;
  line-height: 24px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_d .top_2_xiala_d_b {
  width: 250px;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_d .top_2_xiala_d_b span {
  float: left;
  width: 50px;
  height: 24px;
  line-height: 24px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_d .top_2_xiala_d_b span a {
  display: inline-block;
  padding: 0 7px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_d span:hover a {
  background: #2d8900;
  color: #FFFFFF;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_e {
  display: none;
  width: 282px;
  background: #F5F5F5;
  margin-top: 16px;
  padding: 10px 0;
  margin-bottom: 5px;
  overflow: hidden;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_e .top_2_xiala_d_a {
  width: 29px;
  text-align: right;
  float: left;
  line-height: 24px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_e .top_2_xiala_d_b {
  width: 250px;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_e .top_2_xiala_d_b span {
  float: left;
  width: 50px;
  height: 24px;
  line-height: 24px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_e .top_2_xiala_d_b span a {
  display: inline-block;
  padding: 0 7px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_e span:hover a {
  background: #2d8900;
  color: #FFFFFF;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_f {
  display: none;
  width: 282px;
  background: #F5F5F5;
  margin-top: 16px;
  padding: 10px 0;
  margin-bottom: 5px;
  overflow: hidden;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_f .top_2_xiala_d_a {
  width: 29px;
  text-align: right;
  float: left;
  line-height: 24px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_f .top_2_xiala_d_b {
  width: 250px;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_f .top_2_xiala_d_b span {
  float: left;
  width: 50px;
  height: 24px;
  line-height: 24px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_f .top_2_xiala_d_b span a {
  display: inline-block;
  padding: 0 7px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_f span:hover a {
  background: #2d8900;
  color: #FFFFFF;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_g {
  display: none;
  width: 282px;
  background: #F5F5F5;
  margin-top: 16px;
  padding: 10px 0;
  margin-bottom: 5px;
  overflow: hidden;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_g .top_2_xiala_d_a {
  width: 29px;
  text-align: right;
  float: left;
  line-height: 24px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_g .top_2_xiala_d_b {
  width: 250px;
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_g .top_2_xiala_d_b span {
  float: left;
  width: 50px;
  height: 24px;
  line-height: 24px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_g .top_2_xiala_d_b span a {
  display: inline-block;
  padding: 0 7px;
  color: #757575;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi .top_2_xiala_a .top_2_xiala_g span:hover a {
  background: #2d8900;
  color: #FFFFFF;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi h2 {
  float: left;
  font-size: 12px;
  color: #606060;
  line-height: 32px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi h3 {
  text-align: center;
  float: left;
  font-size: 12px;
  color: #606060;
  line-height: 32px;
  margin-left: 14px;
  position: relative;
  z-index: 101;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi h3 a {
  float: left;
  color: #606060;
  margin-left: 6px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi h3 i {
  display: block;
  width: 6px;
  height: 3px;
  background: url("../images/index.png") no-repeat -92px 0;
  float: right;
  margin: 15px 7px 0 5px;
}

#top_2 .top_2_con .top_2_left .top_2_fangzi h3:hover a {
  color: #8cb91e;
}

#top_2 .top_2_con .top_2_left .top_2_left_oul {
  float: left;
}

#top_2 .top_2_con .top_2_left .top_2_left_oul li {
  float: left;
  font-size: 12px;
  color: #606060;
  line-height: 32px;
}

#top_2 .top_2_con .top_2_left .top_2_left_oul li a {
  color: #606060;
}

#top_2 .top_2_con .top_2_left .top_2_left_oul li:nth-child(1) {
  margin-right: 10px;
}

#top_2 .top_2_con .top_2_left .top_2_left_oul li:nth-child(2) {
  margin-right: 20px;
}

#top_2 .top_2_con .top_2_left .top_2_left_oul li:hover a {
  color: #3ea600;
}

#top_2 .top_2_con .top_2_right {
  width: 478px;
  height: 32px;
  float: right;
  position: relative;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala {
  display: none;
  background: #fff;
  width: 186px;
  height: 194px;
  border: 1px solid #3a9900;
  position: absolute;
  z-index: 3;
  top: 32px;
  left: 0;
  padding: 5px;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala p {
  margin-left: 7px;
  font-size: 12px;
  margin-right: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala p span {
  color: #999;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala p a {
  color: #098a00;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala li {
  width: 92px;
  height: 32px;
  float: left;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala li a {
  line-height: 32px;
  padding: 0 7px;
  color: #6c6c6c;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala li:hover a {
  background: #f5f5f5;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala_a {
  display: none;
  background: #fff;
  width: 82px;
  height: 66px;
  padding: 5px;
  position: absolute;
  left: 185px;
  top: 32px;
  z-index: 3;
  border: 1px solid #3a9900;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala_a li {
  width: 92px;
  height: 32px;
  float: left;
  font-size: 12px;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala_a li a {
  line-height: 32px;
  padding: 0 7px;
  color: #6c6c6c;
}

#top_2 .top_2_con .top_2_right .top_2_right_xiala_a li:hover a {
  background: #f5f5f5;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul #opq {
  position: relative;
  z-index: 9;
  border: 1px solid #F5F5F5;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul #bbq {
  position: relative;
  z-index: 9;
  border: 1px solid #F5F5F5;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li {
  float: left;
  font-size: 12px;
  color: #606060;
  line-height: 32px;
  padding: 0 19px 0 14px;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li a {
  color: #606060;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:hover a {
  color: #3a9900;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(2):hover a {
  text-decoration: underline;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(4):hover a {
  text-decoration: underline;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul .top_2olib {
  background: url("../images/a1_03.jpg") no-repeat right;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(3) i {
  display: block;
  width: 6px;
  height: 3px;
  background: url("../images/index.png") no-repeat -92px 0;
  float: right;
  margin: 15px 0 0 5px;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(2) i {
  display: block;
  width: 11px;
  height: 11px;
  margin: 10px 3px 0 0;
  background: url("../images/index.png") no-repeat -78px 0;
  float: left;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(2) span {
  color: #3ea600;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(5) {
  width: 109px;
  padding: 0 8px 0 11px;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(5) h2 {
  width: 43px;
  height: 15px;
  margin: 8px 0 0 12px;
  background: url("../images/index.png") no-repeat 0 0;
  float: left;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul li:nth-child(5) h3 {
  width: 43px;
  height: 15px;
  margin: 8px 0 0 11px;
  background: url("../images/base.png") no-repeat -93px -82px;
  float: right;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul .top_2_olia {
  font-size: 12px;
  color: #606060;
  line-height: 30px;
  border: 1px solid #f5f5f5;
}

#top_2 .top_2_con .top_2_right .top_2_right_oul .top_2_olia i {
  display: block;
  width: 6px;
  height: 3px;
  background: url("../images/index.png") no-repeat -92px 0;
  float: right;
  margin: 15px 0 0 5px;
}

/*logo*/
#logo_out {
  width: 100%;
  background: #fff;
  height: 86px;
  margin-top: 35px;
  margin-bottom: 30px;
}

#logo {
  width: 100%;
  background: #fff;
  height: 86px;
  margin-top: 35px;
  margin-bottom: 30px;
  left: 0px;
  z-index: 1000;
  top: 0px;
  margin: 0 auto;
  opacity: 0.9;
}

#logo .logo_con {
  height: 86px;
}

#logo .logo_con .logo_left {
  width: 330px;
  height: 86px;
  float: left;
}

#logo .logo_con .logo_left a {
  float: left;
  margin-top: 3px;
}

#logo .logo_con .logo_middle {
  width: 720px;
  height: 86px;
  float: left;
}

#logo .logo_con .logo_middle .logo_box {
  width: 625px;
  margin: 12px 0 0 48px;
  height: 68px;
}

#logo .logo_con .logo_middle .logo_box .logo_top {
  float: left;
  width: 584px;
  height: 38px;
  border: 2px solid #c30000;
  position: relative;
}

#logo .logo_con .logo_middle .logo_box .logo_top .logo_fadajing {
  width: 16px;
  height: 16px;
  background: url("../images/index.png") no-repeat -69px -24px;
  position: absolute;
  top: 11px;
  left: 10px;
}

#logo .logo_con .logo_middle .logo_box .logo_top input {
  width: 450px;
  height: 38px;
  border: none;
  outline: none;
  margin-left: 34px;
}

#logo .logo_con .logo_middle .logo_box .logo_top button {
  width: 100px;
  height: 38px;
  font-size: 18px;
  color: #fff;
  background-color: #c30000;
  border: none;
  cursor: pointer;
  float: right;
  border: none;
  outline: none;
}

#logo .logo_con .logo_middle .logo_box .logo_cebian {
  width: 28px;
  height: 32px;
  line-height: 16px;
  color: #999;
  font-size: 14px !important;
  float: right;
  margin-top: 5px;
}

#logo .logo_con .logo_middle .logo_box .logo_cebian a {
  color: #606060;
}

#logo .logo_con .logo_middle .logo_box .logo_cebian a:hover {
  color: #3ea600;
  text-decoration: underline;
}

#logo .logo_con .logo_middle .logo_box .logo_header {
  height: 18px;
  float: left;
  margin-top: 8px;
}

#logo .logo_con .logo_middle .logo_box .logo_header ul li {
  float: left;
  margin-right: 18px;
}

#logo .logo_con .logo_middle .logo_box .logo_header ul li a {
  font-size: 12px;
  color: #606060;
}

#logo .logo_con .logo_middle .logo_box .logo_header ul li:hover a {
  color: #3ea600;
  text-decoration: underline;
}

#logo .logo_con .log_right {
  width: 160px;
  height: 83px;
  float: right;
  padding-top: 3px;
}

/*nav*/
#nav {
  background: #fff;
  height: 48px;
}

#nav .nav_con {
  height: 48px;
}

#nav .nav_con .nav_left {
  width: 210px;
  height: 48px;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #2d8800;
  float: left;
  font-weight: 900;
  position: relative;
}

#nav .nav_con .nav_left .nav_left_a {
  width: 210px;
  height: 412px;
  background: #3ea600;
  padding: 12px 0 28px;
  margin-top: 2px;
  position: absolute;
  z-index: 99;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 {
  display: none;
  position: absolute;
  top: 2px;
  left: 210px;
  z-index: 30;
  width: 757px;
  height: 419px;
  padding: 30px 15px 0;
  border-right: 1px solid #3a9900;
  border-bottom: 1px solid #3a9900;
  background-color: #fff;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 h4 {
  position: relative;
  float: left;
  width: 86px;
  height: 22px;
  font-size: 12px;
  color: #333;
  padding: 3px 20px 6px 0;
  text-align: right;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 h4 a {
  display: block;
  width: 52px;
  height: 17px;
  line-height: 22px;
  margin-left: 33px;
  font-weight: 900;
  color: #606060;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 h4 a:hover {
  color: #3ea600;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 h4 i {
  position: absolute;
  right: -5px;
  top: 6px;
  width: 4px;
  height: 6px;
  background: url("../images/index.png") no-repeat -98px 0;
  overflow: hidden;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 ul {
  float: left;
  width: 580px;
  line-height: 30px;
  overflow: hidden;
  zoom: 1;
  padding-top: 6px;
  padding-bottom: 9px;
  margin-bottom: 6px;
  border-bottom: 1px solid #eaeaea;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 ul li {
  float: left;
  width: 60px !important;
  height: 16px;
  line-height: 16px;
  border-left: 1px solid #dedede;
  font-size: 12px;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 ul li a {
  color: #606060;
  font-weight: 100;
}

#nav .nav_con .nav_left .nav_left_a .nav_a_1 ul a:hover {
  color: #3ea600;
}

#nav .nav_con .nav_left .nav_left_a .nav_1 {
  background: url("../images/1486950087713.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_2 {
  background: url("../images/1460546023475.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_3 {
  background: url("../images/1460546038630.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_4 {
  background: url("../images/1460546045382.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_5 {
  background: url("../images/1460546052571.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_6 {
  background: url("../images/1461210997828.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_7 {
  background: url("../images/1461210984918.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_8 {
  background: url("../images/1461211012242.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_9 {
  background: url("../images/1460546123776.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_10 {
  background: url("../images/1482494539069.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a .nav_11 {
  background: url("../images/1486949920562.png") no-repeat;
}

#nav .nav_con .nav_left .nav_left_a i {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 6px 16px 0 0;
  float: left;
}

#nav .nav_con .nav_left .nav_left_a ul li {
  width: 210px;
  height: 39px;
  float: left;
}

#nav .nav_con .nav_left .nav_left_a ul li h3 {
  width: 172px;
  height: 32px;
  padding: 0 19px;
  line-height: 32px;
  font-size: 14px;
  overflow: hidden;
}

#nav .nav_con .nav_left .nav_left_a ul li h3 a {
  float: left;
  margin-right: 10px;
  color: #fff;
}

#nav .nav_con .nav_left .nav_left_a ul li:hover h3 {
  background: #fff;
}

#nav .nav_con .nav_left .nav_left_a ul li:hover h3 a {
  color: #3ea600;
}

#nav .nav_con .nav_left .nav_left_a ul a:hover {
  text-decoration: underline;
}

#nav .nav_con .nav_left .nav_left_a ul li:hover h3 i {
  background-position: -18px 0;
}

#nav .nav_con .nav_middle {
  width: 650px;
  height: 48px;
  float: left;
}

#nav .nav_con .nav_middle ul li {
  float: left;
  margin-left: 10px;
  margin-right: 19px;
}

#nav .nav_con .nav_middle ul li a {
  font-size: 16px;
  line-height: 48px;
  color: #383838;
}

#nav .nav_con .nav_middle ul li:hover a {
  color: #3ea600;
}

#nav .nav_right_xiala {
  display: none;
  height: 92px;
  position: absolute;
  top: 331px;
  right: 53px;
  width: 343px;
  padding: 15px 0 8px 15px;
  background-color: #fff;
  border: 1px solid #3a9901;
  overflow: hidden;
  z-index: 3;
}

#nav .nav_right_xiala .nav_right_box {
  width: 342px;
  height: 92px;
  text-align: center;
  line-height: 20px;
}

#nav .nav_right_xiala .nav_right_box span {
  display: inline-block;
  width: 100%;
  height: 46px;
  margin-bottom: 6px;
  margin-left: 131px;
}

#nav .nav_right_xiala .nav_right_box p {
  font-size: 12px;
  color: #606060;
}

#nav .nav_right_xiala .nav_right_box p a {
  display: inline-block;
  width: 100%;
  color: #c40000;
}

#nav .nav_right {
  width: 200px;
  height: 43px;
  float: right;
  margin: 5px 1px 0;
  position: relative;
  cursor: pointer;
  border-bottom: none;
  z-index: 9;
  background: #fff;
}

#nav .nav_right .nav_gouwuche {
  width: 27px;
  height: 20px;
  background: url("../images/index.png") no-repeat -47px 0;
  float: left;
  margin: 11px 0 0 47px;
}

#nav .nav_right p {
  font-size: 14px;
  color: #606060;
  margin: 10px 0 0 10px;
  float: left;
}

#nav .nav_right i {
  display: block;
  position: absolute;
  left: 56px;
  top: -5px;
  width: 25px;
  height: 20px;
  font-size: 12px;
  background: url("../images/index.png") no-repeat -10px -40px;
  text-align: center;
  font-style: normal;
  color: #fff;
  overflow: hidden;
}

#nav .nav_right h2 {
  float: right;
  width: 10px;
  height: 6px;
  margin: 18px 18px 0 5px;
  background: url("../images/index.png") no-repeat 0 -40px;
  overflow: hidden;
}

#nav .nav_right:hover p {
  color: #3ea600;
  text-decoration: underline;
}

#nav .nav_right:hover h2 {
  transform: rotate(180deg);
}

/*new*/
#new {
  background: #f7f7f7;
  border-bottom: 2px solid #3ea600;
}

#new .new_con {
  height: 250px;
  background: #f7f7f7;
  margin-top: 45px;
  border-top: 1px solid #e7e7e7;
}

#new .new_con ul {
  float: left;
  margin-top: 50px;
  margin-left: 115px;
  position: relative;
}

#new .new_con ul h2 {
  font-size: 16px;
  color: #c60001;
  line-height: 16px;
  margin-bottom: 25px;
}

#new .new_con ul i {
  width: 1px;
  height: 79px;
  background: url(../images/222_03.jpg) no-repeat;
  position: absolute;
  left: 140px;
  top: 20px;
}

#new .new_con ul .new_oli {
  font-weight: 900;
}

#new .new_con ul .new_oli a {
  font-size: 16px !important;
  color: #916060;
  line-height: 35px !important;
}

#new .new_con ul li a {
  color: #989898;
  font-size: 12px;
  line-height: 25px;
}

#new .new_con ul a:hover {
  color: #3EA600 !important;
  text-decoration: underline;
}

/*header*/
#header .header_con {
  height: 204px;
  position: relative;
}

#header .header_con .header_z {
  position: absolute;
  left: 556px;
  bottom: 0px;
}

#header .header_con .header_z i {
  display: block;
  width: 112px;
  height: 41px;
  background: url(../images/bottomicon.png) 0px 0px no-repeat;
}

#header .header_con ul {
  float: left;
  margin-left: 255px;
}

#header .header_con ul li {
  float: left;
  margin-top: 30px;
  margin-left: 40px;
  position: relative;
}

#header .header_con ul li a {
  font-size: 12px;
  color: #606060;
}

#header .header_con ul li a:hover {
  text-decoration: underline;
}

#header .header_con ul li span {
  position: absolute;
  left: 63px;
  top: 0px;
}

#header .header_con .header_box {
  width: 790px;
  margin-top: 28px;
  margin-left: 227.5px;
  height: 88px;
  float: left;
}

#header .header_con .header_box .header_img {
  float: left;
  height: 88px;
}

#header .header_con .header_box p, #header .header_con .header_box h3 {
  width: 560px;
  font-size: 12px;
  float: left;
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
}

#header .header_con .header_box h4 {
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
  float: left;
}

#header .header_con .header_box h4 i {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../images/bottomicon.png) -114px 0px no-repeat;
}

#header .header_con .header_box h4 .header_a {
  float: left;
  margin: 0px 0px 0px 5px;
  color: #989898;
}

#header .header_con .header_box .header_b {
  font-size: 12px;
  float: left;
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
}

#header .header_con .header_box h6 {
  font-size: 12px;
  float: left;
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
}

/*shopping*/
.shopping {
  width: 310px;
  height: 100%;
  position: fixed;
  right: -276px;
  z-index: 1001;
}

.shopping .shop_left {
  width: 34px;
  height: 100%;
  float: left;
  background: #000;
  position: relative;
}

.shopping .shop_left .shop_boxa {
  width: 18px;
  height: 88px;
  background: black;
  position: absolute;
  padding: 10px 8px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  top: 25%;
}

.shopping .shop_left .shop_boxa i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/cart.jpg) no-repeat -178px -8px;
}

.shopping .shop_left .shop_boxa p {
  font-size: 12px;
  color: #fff;
}

.shopping .shop_left .shop_boxa span {
  display: inline-block;
  height: 16px;
  margin: 8px auto 0;
  padding: 0 3px;
  line-height: 16px;
  border-radius: 3px;
  background: #3da700;
  color: #fff;
  font-size: 12px;
}

.shopping .shop_left .shop_boxa:hover {
  background: #3EA600;
}

.shopping .shop_left .shop_boxa:hover i {
  background-position-y: -42px;
}

.shopping .shop_left .shop_boxa:hover span {
  background: black;
}

.shopping .shop_left .shop_boxb {
  position: absolute;
  bottom: 0px;
}

.shopping .shop_left .shop_boxb ul li {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  padding: 8px 8px;
  line-height: 16px;
  cursor: pointer;
  position: relative;
}

.shopping .shop_left .shop_boxb ul .shop_z {
  left: -166px !important;
  top: -125px !important;
  background: none !important;
}

.shopping .shop_left .shop_boxb ul .shop_huaguo {
  display: none;
  position: absolute;
  left: -70px;
  top: 0px;
  background: #3EA600;
  height: 32px;
  width: 58px;
  padding-left: 12px;
}

.shopping .shop_left .shop_boxb ul .shop_huaguo a {
  font-size: 12px;
  color: #fff;
  line-height: 34px;
}

.shopping .shop_left .shop_boxb ul li:nth-child(1) i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/cart.jpg) no-repeat -8px -8px;
}

.shopping .shop_left .shop_boxb ul li:nth-child(2) i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/cart.jpg) no-repeat -42px -8px;
}

.shopping .shop_left .shop_boxb ul li:nth-child(3) i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/cart.jpg) no-repeat -76px -8px;
}

.shopping .shop_left .shop_boxb ul li:nth-child(4) i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/cart.jpg) no-repeat -110px -8px;
}

.shopping .shop_left .shop_boxb ul li:nth-child(5) i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/cart.jpg) no-repeat -144px -8px;
}

.shopping .shop_left .shop_boxb ul li:hover {
  background: #3EA600;
}

.shopping .shop_left .shop_boxb ul li:hover i {
  background-position-y: -42px;
}

.shopping .shop_right {
  width: 276px;
  height: 100%;
  float: right;
  background: #e6e6e6;
}

.shopping .shop_right h3 {
  position: relative;
  height: 40px;
  font: 18px/40px "Microsoft YaHei";
  color: #383838;
  text-align: center;
  left: 276px;
}

.shopping .shop_right h3 em {
  position: absolute;
  top: 14px;
  right: 18px;
  width: 12px;
  height: 12px;
  background: url(../images/cart.jpg) no-repeat -238px 0;
  overflow: hidden;
  cursor: pointer;
}

.shopping .shop_right .shop_right_box {
  width: 100%;
  height: 75%;
  position: relative;
}

.shopping .shop_right .shop_right_box .shop_right_boxa {
  position: absolute;
  top: 50%;
  left: 276px;
  width: 240px;
  height: 95px;
  margin-top: -48px;
  padding: 0 18px;
  text-align: center;
}

.shopping .shop_right .shop_right_box .shop_right_boxa .shop_img {
  width: 100%;
  height: 46px;
  margin: 0 0 8px 0;
  margin-left: 75px;
  border: 0;
}

.shopping .shop_right .shop_right_box .shop_right_boxa h6 {
  font-size: 12px;
  color: #606060;
}

.shopping .shop_right .shop_right_box .shop_right_boxa a {
  font-size: 12px;
  color: red;
}

.shopping .shop_right .shop_right_box .shop_right_boxa a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=coom.css.map */
